/* Change the opacity of Background*/
header::before {
    background: url('link') no-repeat center center/cover;
    content: "";
    position: aboulute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}


/* Blur Effect */
.bg {
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

/* Conic Background Texture */
.background {
    background-image: conic-gradient(black 20deg, transparent 120deg);
}
